[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
build = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
missingno = "*"
ydata-profiling = "*"
pandas-profiling = "*"
dataprep = "*"
jupyter-helpers = "*"
win10toast = "*"
pyarrow = "*"
pyautogui = "*"
sklearn = "*"
pyperclip = "*"
jaro-winkler = "*"
xgboost = "*"
fp-data-toolbox = {git = "https://github.com/fredapires/fp_data_toolbox"}

[dev-packages]
faker = "*"
pytest = "*"

[requires]
python_version = "3.10"
