[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
dataprep = "*"
pipenv = "*"


[dev-packages]
pytest = "*"
pandas_profiling = "*"
faker = "*"
