[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
build = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
missingno = "*"
pandas-profiling = "*"
dataprep = "*"
jupyter-helpers = "*"
win10toast = "*"
pyarrow = "*"

[dev-packages]
faker = "*"
pytest = "*"

[requires]
python_version = "3.10"
